<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
</head>
<body>
<h2>
Roulette
</h2>
<div id="board" class="board">
<span>Your Balance: {{ balance }}</span>
<span v-if="checked.length > 0">Bets: {{ checked }}</span>
<span v-if="result">Spin Result: {{ result }}</span>
<span class="green" v-if="roundWinnings">Round Winnings: {{ roundWinnings }}</span>

<br>
<div class="betBoard" v-bind:class="{ boardSpin: isSpinActive }">
<div class="number">
<input type="checkbox" v-model="checked" id="1" value="1"><br><span>1</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="2" value="2"><br><span>2</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="3" value="3"><br><span>3</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="4" value="4"><br><span>4</span>
</div>
<div class="colour">
<input type="checkbox" v-model="checked" id="red" value="red">Red
</div>
<br>
<div class="number">
<input type="checkbox" v-model="checked" id="5" value="5"><br><span>5</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="6" value="6"><br><span>6</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="7" value="7"><br><span>7</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="8" value="8"><br><span>8</span>
</div>
<div class="colour">
<input type="checkbox" v-model="checked" id="0" value="0"><span class="green">0</span>
</div>
<br>
<div class="number">
<input type="checkbox" v-model="checked" id="9" value="9"><br><span>9</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="10" value="10"><br><span>10</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="11" value="11"><br><span>11</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="12" value="12"><br><span>12</span>
</div>
<div class="colour">
<input type="checkbox" v-model="checked" id="black" value="black">Black
</div>
<br>
<div class="number">
<input type="checkbox" v-model="checked" id="13" value="13"><br><span>13</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="14" value="14"><br><span>14</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="15" value="15"><br><span>15</span>
</div>
<div class="number">
<input type="checkbox" v-model="checked" id="16" value="16"><br><span>16</span>
</div>
</div>
<br>
<button id="spinButton" v-on:click="randomNumber">Spin</button>
</div>
</body>
</html>
